<section class="header-dashboard">
  <div class="header-container">
    <div class="header-left">
      <div class="header-item active">
        <a href="#">Home</a>
      </div>
      <div class="header-item">
        <a href="#">Favorites</a>
      </div>
      <div class="header-item">
        <a href="#">Research</a>
      </div>
      <div class="header-item">
        <a href="#">Support</a>
      </div>
      <div class="header-item header-item__platforms">
        <a href="#">Platforms</a>

        <div class="header-dropdown header-profile--dropdown">
          <a href="settings.html" class="text-dashboard__body--regular header-link header-link--dropdown">
            Digital Intelligence
            <img src="../assets/media/images/dashboard/external-link.svg" alt="" class="header-link-dropdown__icons">
          </a>
          <a href="#" class="text-dashboard__body--regular header-link header-link--dropdown">
            Makkah &amp; Madinah Insights
            <img src="../assets/media/images/dashboard/external-link.svg" alt="" class="header-link-dropdown__icons">
          </a>
          <a href="#" class="text-dashboard__body--regular header-link header-link--dropdown">
            Hospitality &amp; Travel Intelligence
            <img src="../assets/media/images/dashboard/external-link.svg" alt="" class="header-link-dropdown__icons">
          </a>
          <a href="#" class="text-dashboard__body--regular header-link header-link--dropdown">
            Healthcare Intelligence
            <img src="../assets/media/images/dashboard/external-link.svg" alt="" class="header-link-dropdown__icons">
          </a>
          <a href="#" class="text-dashboard__body--regular header-link header-link--dropdown">
            MarTech Intelligence
            <img src="../assets/media/images/dashboard/external-link.svg" alt="" class="header-link-dropdown__icons">
          </a>
          <a href="#" class="text-dashboard__body--regular header-link header-link--dropdown">
            Energy Intelligence
            <img src="../assets/media/images/dashboard/external-link.svg" alt="" class="header-link-dropdown__icons">
          </a>
        </div>
      </div>
    </div>
    <div class="header-right">
      <div class="header-item header-item__profile">
        <a href="#" class="header-link--profile">
          <img src="../assets/media/images/dashboard/dashborad-profile.png" alt="" class="header-profile--img">
          <span class="header-profile--name">John Doe</span>
          <img src="../assets/media/images/dashboard/chevron-down.svg" alt="" class="header-profile--icon">
        </a>
        <div class="header-dropdown header-dropdown--profile" bis_skin_checked="1">
          <a href="settings.html" class="text-dashboard__body--regular header-link header-link--dropdown header-link--profile-dropdown">
            <img src="../assets/media/images/dashboard/settings-blue.svg" alt="" class="header-link-dropdown__icons">
            Account Setting
          </a>
          <a href="payment-history.html" class="text-dashboard__body--regular header-link header-link--dropdown header-link--profile-dropdown">
            <img src="../assets/media/images/dashboard/dollar-circle-blue.svg" alt="" class="header-link-dropdown__icons">
            Payment History
          </a>
          <a href="login.html" class="text-dashboard__body--regular header-link header-link--dropdown header-link--profile-dropdown">
            <img src="../assets/media/images/dashboard/logout-blue.svg" alt="" class="header-link-dropdown__icons">
            Log Out
          </a>
        </div>
      </div>
    </div>
  </div>
</section>