<section class="sidebar-dashboard js-sidebar-check">
  <div class="sidebar-dashboard__header">
    <a href="#" class="sb-db-head__icon">
      <img src="../assets/media/images/traced.svg" class="icon__content">
    </a>
    <a href="#" class="sb-db__arrow js-sidebar-click" id="btn-sidebar-toggle">
      <img src="../assets/media/images/dashboard/arrow-dashboard-sidebar.svg" class="icon__content js-sidebar-check">
    </a>
  </div>


  <div class="sidebar-dashboard__menu js-sidebar-check">
    <a href="" class="sb-db-menu__link active">
      <img src="../assets/media/images/dashboard/dashboard.svg" alt="" style='width: 24px;''>
      <span class="js-sidebar-check active">Dashboard</span>
    </a>
    <a href="" class="sb-db-menu__link">
      <img src="../assets/media/images/dashboard/search.svg" alt="" style='width: 24px;''>
      <span class="js-sidebar-check">Search</span>
    </a>
    <a href="" class="sb-db-menu__link">
      <img src="../assets/media/images/dashboard/reports.svg" alt="" style='width: 24px;''>
      <span class="js-sidebar-check">Reports</span>
    </a>
    
    <div class="sb-db-menu__dropdown">
      <div class="sb-db-menu__link js-dropdown">
        <div class="sb-db-menu__name">
          <img src="../assets/media/images/dashboard/database.svg" alt="" style='width: 24px;''>
          <span class="js-sidebar-check">Interactive Data</span>
        </div>
        <div class="dropdown-button js-sidebar-check">
          <span id="dropdown-content" class="icon"></span>
        </div>
      </div>
      <div  id="dropdown-content" class="sb-db-menu__link-interactive js-sidebar-check">
        <a href="#" class="animate__animated animate__fadeInUp sb-db-menu__link">
          <span class="text-dashboard__body--regular sb-db-menu__text">Infographics</span>
        </a>
        <a href="#" class="animate__animated animate__fadeInUp sb-db-menu__link">
          <span class="text-dashboard__body--regular sb-db-menu__text">Graphs</span>
        </a>
      </div>
    </div>
    
    <a href="" class="sb-db-menu__link">
      <img src="../assets/media/images/dashboard/company.svg" alt="" style='width: 24px;''>
      <span class="js-sidebar-check">Company intelligence</span>
    </a>
    <a href="" class="sb-db-menu__link">
      <img src="../assets/media/images/dashboard/users.svg" alt="" style='width: 24px;''>
      <span class="js-sidebar-check">Contacts</span>
    </a>
    <a href="" class="sb-db-menu__link">
      <img src="../assets/media/images/dashboard/server.svg" alt="" style='width: 24px;''>
      <span class="js-sidebar-check">Benchmark</span>
    </a>
  </div>
</section>

