*{
  margin: 0;
  padding: 0;
}
body, html{
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
  animation: all linear .2s;
}

.container{
  @media (max-width : 480px){
    --bs-gutter-x: 1.25rem !important;
  }
}