*{
  margin: 0;
  padding: 0;
}
body, html{
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
  animation: all linear .2s;
}

.container{
  @include media-breakpoint-down(xxl){
    padding-left: 0;
    padding-right: 0;
  }
  @include media-breakpoint-down(sm){
    padding-left: 20 !important;
    padding-right: 20 !important;
    width: 100% !important;
  }
}