@mixin bodyxlarge-bold{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 700;
  font-size: toRem(20);
  line-height: toRem(28);
}
@mixin bodylarge-bold{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 700;
  font-size: toRem(18);
  line-height: toRem(24);
}
@mixin bodynormal-bold{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 700;
  font-size: toRem(16);
  line-height: toRem(22);
}
@mixin bodysmall-bold{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 700;
  font-size: toRem(14);
  line-height: toRem(18);
}
@mixin bodyxsmall-bold{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 700;
  font-size: toRem(12);
  line-height: toRem(16);
}



@mixin bodyxlarge-normal{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 400;
  font-size: toRem(20);
  line-height: toRem(32);
}
@mixin bodylarge-normal{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 400;
  font-size: toRem(18);
  line-height: toRem(28);
}
@mixin bodynormal-normal{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 400;
  font-size: toRem(16);
  line-height: toRem(24);
}
@mixin bodysmall-normal{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 400;
  font-size: toRem(14);
  line-height: toRem(20);
}
@mixin bodyxsmall-normal{
  font-family: 'Eudoxus Sans';
  font-style: normal;
  font-weight: 400;
  font-size: toRem(12);
  line-height: toRem(18);
}


// dashboard typograph


@mixin text-dashboard__body--regular{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -.01rem;
}
@mixin text-dashboard__body--regular-medium{
  font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -.01rem
}

.text-dashboard__body--regular-semibold {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -.01rem;
}
.text-dashboard__body--small-medium {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.45rem;
  letter-spacing: -.01rem;
}

.h1--be{
  font-family: Inter;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  line-height: 1.5rem !important;
  letter-spacing: -.01rem !important;
}

.h3--be {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -.01rem;
}