.w-btn{
  transition: all linear .4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: toRem(16) toRem(32);
  gap: toRem(10);
  width: toRem(184);
  height: toRem(56);
  background: $white;
  box-shadow: toRem(8) toRem(18) toRem(60) rgba(0, 0, 0, 0.08);
  border-radius: toRem(10);
  font-weight: 700;
}
.w-btn:hover{
  color: transparent;
  background: transparent;
  border: 0.06rem solid $white;
  color: $white;
}

.gradient-btn{
  transition: all linear .4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: toRem(16) toRem(32);
  gap: toRem(10);
  width: toRem(184);
  height: toRem(56);
  background: $white;
  box-shadow: toRem(8) toRem(18) toRem(60) rgba(0, 0, 0, 0.08);
  border-radius: toRem(10);
  font-weight: 700;
  span{
    background: radial-gradient(102.67% 244.68% at 101.15% 6.32%,#2ca3c9 0,#63b7a3 53.12%,#508be2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all linear .4s;
  }
}
.gradient-btn:hover{
  color: transparent;
  background: radial-gradient(102.67% 244.68% at 101.15% 6.32%,#2ca3c9 0,#63b7a3 53.12%,#508be2 100%);
  border: 0.06rem solid $white;
  color: $white;
}
.gradient-btn:hover .efc-tsprnt-text{
  -webkit-background-clip: text;
  -webkit-text-fill-color: $white;
  background-clip: text;
  color: $white;
  transition: all linear .4s;
}

.b-btn{
  transition: all linear .4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: toRem(16) toRem(32);
  width: toRem(184);
  height: toRem(56);
  background: #2979D7;
  color: $white;
  box-shadow: toRem(8) toRem(18) toRem(60) rgba(0, 0, 0, 0.08);
  border-radius: toRem(10);
  font-weight: 700;
  font-size: toRem(18);
  line-height: toRem(24);
}
.b-btn:hover{
  border: 1px solid #2979D7;
  background: $white;
  color: #2979D7;
}

.wd-btn{
  transition: all linear .4s;
  border-radius: toRem(10);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: toRem(16) toRem(32);
  gap: toRem(10);
  width: toRem(188);
  height: toRem(56);
  color: $white;
}
.wd-btn:hover{
  background-color: #2979D7;
  border: 0.06rem solid $white;
}