<section class="header-dashboard">
  <div class="header-container">
    <div class="header-left">
      <div class="header-item active">
        <a href="#">Home</a>
      </div>
      <div class="header-item">
        <a href="#">Favorites</a>
      </div>
      <div class="header-item">
        <a href="#">Research</a>
      </div>
      <div class="header-item">
        <a href="#">Support</a>
      </div>
      <div class="header-item">
        <a href="#">Platforms</a>
      </div>
    </div>
    <div class="header-right">
      <div class="header-item ">
        <a href="#" class="header-link--profile">
          <img src="../assets/media/images/dashboard/dashborad-profile.png" alt="" class="header-profile--img">
          <span class="header-profile--name">John Doe</span>
          <img src="../assets/media/images/dashboard/chevron-down.svg" alt="" class="header-profile--icon">
        </a>
      </div>
    </div>
  </div>
</section>