.cta{
  background: radial-gradient(circle, rgba(44,163,201,1) 0%, #63b7a3 12%, rgba(80,139,226,1) 100%);
  margin-top: toRem(120);
  position: relative;
  overflow-y: hidden;
  
  .cta-bg-1{
    position: absolute;
    left: 0rem;

  @include media-breakpoint-down(md){
      display: none;
    }
  }
  .cta-bg-2{
    bottom: 0rem;
    position: absolute;
    right: 0;

  @include media-breakpoint-down(md){
      display: none;
    }
  }
  
  .cta-content{
    padding: toRem(56);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    .cta-content-tittle{
      font-weight: 800;
      text-align: center;
      color: #FFFFFF;
      width: toRem(700);

      @include media-breakpoint-down(lg){
        width: 100%;
      }
    }
    .cta-content-subtittle{
      font-weight: 400;
      font-size: toRem(18);
      line-height: toRem(28);
      color: #F4F4F6;
      margin-top: toRem(24);
    }
    .cta-content-btn{
      margin-top: toRem(40);
    }
  }
}