.customer{
  background-color: #F6F7FB;
  position: relative;
  padding-bottom: toRem(224);
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
  @include media-breakpoint-down(md){
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
      padding-bottom: toRem(90);
    }
    @include media-breakpoint-down(xs-3){
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
        padding-bottom: toRem(56);
      }
    }
  }

  .customer-bg-main{
    position: relative;
    img{
      position: absolute; 
      z-index: -1;}
      .r-9{
        position: absolute;
        right: 0rem;
        top: 21rem;
      }
    }
    
    
    .customer-frame{
      padding-top: toRem(120);
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .customer-frame-text{
      width: 100%;
      display: flex;
      letter-spacing: -0.01em;
      justify-content: center;
      text-align: center;
      padding-bottom: toRem(80);
      
      @include media-breakpoint-down(xs-3){
        text-align: none;
        padding-bottom: toRem(48);
      }
      h2{
        width: toRem(670);
        height: toRem(128);
        color: #0B0A0F;
        span:first-child{
          color: #0FBFE5;
        }
      }
    }
    .customer-frame-con{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 2.5rem;
      
      @include media-breakpoint-down(lg){
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        width: 90%;
        gap: toRem(48);
        margin-bottom: toRem(65);
        justify-items: center;
      } 
  
  
      .customer-frame-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: max-content;

        @include media-breakpoint-down(md){
          max-width: toRem(400);
        }

        .customer-frame-content-image{
          height: toRem(193);
          .one{
            width: auto;
            min-height: toRem(164);
            max-height: toRem(164);
            position: relative;
            left: toRem(-29);
          }
          .two{
            width: auto;
            min-height: toRem(164);
            max-height: toRem(164);
          }
          .three{
            width: auto;
            min-height: toRem(193);
            max-height: toRem(193);
            position: relative;
            top: toRem(-29);
          }
        }
        .customer-frame-content-tittle{
          margin-top: toRem(32);
          font-weight: 700;
          font-size: toRem(20);
          line-height: toRem(30);
          margin-bottom: toRem(16);
          a{
            color: #0B0A0F;
          }
        }

        .customer-frame-content-tittle{
          p{
            font-weight: 500;
            font-size: toRem(19);
            line-height: toRem(28);
            text-align: center;
            color: #394150;
            @include media-breakpoint-down(xl){
              width: 80%;
            }
          }
        }
      }
    }
    
    .customer-frame-button{
      display: flex;
      justify-content: center;
      padding-top: toRem(66);
      @include media-breakpoint-down(md){
        padding-top: toRem(0);
      }
    }
  }
}