.feature{
  clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
  padding-top: toRem(228);
  padding-bottom: toRem(106);
  background-color: #00326D;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  @include media-breakpoint-down(md) {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: toRem(60);
  }
  
  .rectangel{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .feature-ttl{
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: toRem(48);

    @include media-breakpoint-down(md) {
      width: 100%;
      width: 95%;
    }
  }


  .feature-ctn{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: toRem(16);
    justify-items: center;
    align-items: center;
    grid-template-areas: "butt butt""con con";
    @include media-breakpoint-down(md) {
      grid-gap: toRem(0);
      padding-top: toRem(16);
      grid-template-areas: "con con""butt butt";
      width: 95%;
    }
    
    .button-con{
      max-width: toRem(786);
      display: flex;
      justify-content: center;
      grid-area: butt;
      @include media-breakpoint-down(md) {
        margin-top: toRem(32);
        padding-bottom: toRem(0) !important;
      }

      .button-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        flex-wrap : wrap; 
        justify-content: center;
        margin-bottom: toRem(64);
        border-radius: toRem(100);
        background: rgba(255, 255, 255, 0.1);
        padding: toRem(6) 0rem;
        
        @include media-breakpoint-down(md) {
          padding: toRem(6) !important;
          background-color: transparent !important;
        }
  
        button {
          border: none;
          background-color: transparent;
          color: #666;
          margin: 0rem toRem(6);
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: toRem(12) toRem(16);
          gap: toRem(6);
          width: toRem(250);
          height: toRem(52);
          border-radius: toRem(200);
          text-align: center; 
          
          
          @include media-breakpoint-down(md){
            font-size: 0;
            width: toRem(10);
            height: toRem(10);
            border-radius: 50%;
            margin: 0rem toRem(5) 0rem 0rem !important;
            background-color: #eee;
            border: none;
            padding: 0;
          }
  
          span {
            font-weight: 700;
            font-size: toRem(18);
            line-height: toRem(24);
            color: #ffff;
          }
  
          .mh{
            @include media-breakpoint-down(md) {
              display: none !important;
            }
          }
        }
        button:hover{
          background-color: #297ad76c;
          transition: all linear .4s;
        }
  
        .button-container button:last-child {
          @include media-breakpoint-down(md) {
            margin-right: 0;
          }
        }
  
        button.on {
          background-color: #2979D7;
          color: #ffff;
          transition: all 1s;
  
          @include media-breakpoint-down(md) {
            background-color: #007bff;
          }
        }
      }
    }
  }

  .ctn {
    display: none;
    text-align: center;
    transition: all 1s;
    grid-area: con;
    min-height: toRem(510);
    gap: toRem(48);
  }
  .ctn-container{
    width: 100%;
  }
  .ctn-container .ctn.on {
    display: grid;
    transition: all 1s;
    grid-template-columns: toRem(474) 1fr;
    align-items: center;
    @include media-breakpoint-down(xxl) {
      grid-template-columns: toRem(457) 1fr;
    }
    @include media-breakpoint-down(xl) {
      grid-template-columns: toRem(437) 1fr;
      align-items: center;
      gap: 2rem;
      justify-content: center;
    }
    @include media-breakpoint-down(lg-2) {
      grid-template-columns: toRem(417) 1fr;
    }
    @include media-breakpoint-down(lg) {
      grid-template-columns: toRem(400) 1fr;
      padding: 0 2rem;
    }
    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1,1fr);
    }
  }    
  .ctn-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row:1/2 ;
    @include media-breakpoint-down(md) {
      grid-row:2/3 ;
    }
    
    .ctn-right-lo{
      margin-bottom: toRem(30);
      display: flex;
      text-align: left;
      @include media-breakpoint-down(lg-2) {
        width: 20%;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }

      img{
        @include media-breakpoint-down(lg-2) {
          width: 100%;
        }
      }
    }

    .ctn-right-ti{
      font-weight: 700;
      color: $white;
      display: flex;
      text-align: left;
      
      @include media-breakpoint-down(md) {
        width: 100%;
        font-size: toRem(24);
        text-align: center;
      }
    }

    .ctn-right-li{
      margin-top: toRem(12);
      font-weight: 400;
      font-size: toRem(18);
      line-height: toRem(28);
      color: #E5E6EB;
      list-style: none;
      li{
        padding: toRem(12) 0rem;
        display: flex;
        text-align: left;
        img{
          padding-right: toRem(22);
        }
      }
    }
  }
  
  .ctn-left{
    position: relative;
    height: 100%;

    .ctn-left-container{
      width: toRem(658);
      position: absolute;
      top: 0;
      @include media-breakpoint-down(md) {
        position: relative;
        width: 100%;
      }

      .pb{
        padding-bottom: 68.9969%;
      }
      
    }
    
    .bottom-left-path{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 36.17021276595745%;
    }
    .top-right-path{
      position: absolute;
      top: 0;
      right: 0;
      width: 39.51367781155015%;
    }

    .ctn-left-img{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 89.238601832370821%;
    }
  }
}
