


header{
  .bg-main{
    background: radial-gradient(circle, rgba(44,163,201,1) 0%, #63b7a3 12%, rgba(80,139,226,1) 100%);
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    height: toRem(942);
    width: 100%;
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    
    @media(max-width:480px){
      height: 48.625rem;
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
      }
    }
  
  
  
    .bg-main--R1-1{
      position: absolute;
      margin-top: toRem(0);
      margin-left: toRem(0);
      z-index: 0;
    }
    .bg-main--R1-2{
      position: absolute;
      margin-top: toRem(387.6);
      margin-left: toRem(567);
      z-index: 1;
      @media(max-width:480px){
        display: none;
      }
    }
    
    
    .bg-main--path-1a{
      position: absolute;
      top: toRem(699);
      z-index: 2;
      @media(max-width:480px){
        top: toRem(499);
      }
    }
    .bg-main--path-1b{
      position: absolute;
      margin-top: toRem(752);
      z-index: 1;
      @media(max-width:480px){
        margin-top: toRem(552);
      }
    }
    .bg-main--path-2a{
      margin-top: toRem(139);
      margin-left: toRem(20);position: absolute;
      z-index: 1;
      width: toRem(249);
      @media(max-width:480px){
        display: none;
      }
    }
    .bg-main--path-2b{
      margin-top: toRem(122);
      margin-left: toRem(1061);
      position: absolute;
      z-index: 2;
      width: toRem(159);
      @media(max-width:480px){
        display: none;
      }
    }
  }
  padding-top: toRem(24);
  height: toRem(942);
  background: transparent;
  position: relative;
  color: $white;
  transition: all 1s;
  
  
  .nav{
    padding-right: toRem(2);
    display: flex;
    font-size: toRem(16);
    justify-content: space-between;
    align-items: center;
    
    @media(max-width:480px){
      justify-content: space-around;
    }

    .nav-brand{
      img{
        width: toRem(254.98);
      }
    }
    
    .nav-hamburger-menu {
      display: none;
      align-items: center;
      cursor: pointer;
    
      @media(max-width:480px){
        display: flex;
      }
    }
    
    .navigation-active{
      @media(max-width:480px){
        display: flex !important;
        left: 0 !important;
      }
    }
    .navigation{
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      padding-left: 2rem;
      
      @media(max-width:480px){
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 15rem;
        top: 0;
        left: toRem(-244);
        background: #0000007d;
        padding: 5rem 0rem;
        transition: all 1s;
      }
      
      
      
      .navigation-link{
        display: flex;
        justify-content: space-between;
        width: 53.875%;
        align-items: center;
        
        @media(max-width:480px){
          flex-direction: column;
          gap: toRem(5);
        }
        .navigation-link-button{
          padding-top: toRem(4);
          text-decoration: none;
        }
      }
      .navigation-btn{
        display: flex;
        text-align: center; 
        justify-content: flex-end;

        @media(max-width:480px){
          flex-direction: column;
          margin-top: 2rem;
        }
        .navigation-btn-login{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          padding: toRem(12) toRem(16);
          gap: toRem(10);
          width: toRem(144);
          height: toRem(50);
          flex: none;
          order: 1;
          flex-grow: 0;
          @media(max-width:480px){
            background: rgba(255, 255, 255, 0.247);
            border-radius: toRem(10);
          }
        }
        .navigation-btn__sign{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          padding: toRem(12) toRem(16);
          gap: toRem(10);
          width: toRem(144);
          height: toRem(50);
          background: #5DB8D0;
          box-shadow: 8px 18px 60px rgba(0, 0, 0, 0.08);
          border-radius: toRem(10);
          flex: none;
          order: 1;
          flex-grow: 0;

          @media(max-width:480px){
            margin-top: 1rem;
          }
        }
      }
    }
  }


  
  .hero{
    margin-top: toRem(104);
    display: flex;
    justify-content: space-between;
    margin-bottom: toRem(135.76);
    
    @media(max-width:480px){
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin-top: toRem(76);
    }

    .hero-left{
      color: $white !important;
      font-style: normal;
      width: 48.819%;
      
      @media(max-width:480px){
        width: 100%;
      }

      .hero-left-text{
        
        .hero-left-text-tittle{
          width: 100%;
          font-style: normal;
          color: white;
        }
        .hero-left-text-subtittle{
          color: white;
          width:  88.194%;
          margin-top: toRem(8);
          font-weight: 10;
          @media(max-width:480px){
            width: 100%;
          }
        }
      }

      .hero-left-btn{
        display: flex;
        margin-top: toRem(32);
        width: toRem(384);
        justify-content: space-between;
        
        @media (max-width: 480px) {
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
        a{
          @media (max-width: 480px) {
            width: 100% !important;
          }
          div{
            @media (max-width: 480px) {
              width: 100% !important;
            }
          }
        }
      }

      .hero-left-icon{
        margin-top: toRem(16);
        list-style-type: none;
        @media (max-width : 480px){
          margin-top: 0rem;
          margin-bottom: toRem(40);
        }

        .hero-left-icon-pin{
          color: #E5E6EB;
        }
        .hero-left-icon-brand{
          margin-top: toRem(64);
          @media (max-width : 480px){
            margin-top: toRem(32);
          }
        }
      }
    }
    
    .hero-right{
      width: 47.986%;
      position: relative;
      
      @media(max-width:480px){
        width: 100%;
      }
      img{
        @media(max-width:480px){
          width: 100%;
        }
      }
      .bg-main--R1-2{
        position: absolute;
        z-index: -1;
        margin-left: toRem(-361);
        margin-top: toRem(-518.64);
        @media(max-width:480px){
          display: none;
        }
      }
      .bg-main--R1-3{
        position: absolute;
        margin-left: toRem(141);
        margin-top: toRem(-418.64);
        @media(max-width:480px){
          display: none;
        }
      }
    }
  }

}
