.her{
  overflow-x: hidden;
  padding-top: toRem(178);
  overflow: hidden;
  
  @include media-breakpoint-down(xs-3){
    padding-top: toRem(17);
  }
  
  .bg-main{
    background: radial-gradient(circle, rgba(44,163,201,1) 0%, #63b7a3 12%, rgba(80,139,226,1) 100%);
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    height: toRem(942);
    width: 100%;
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    
    @include media-breakpoint-down(xs-3){
      height: 48.625rem;
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
      }
    }
  
  
  
    .bg-main--R1-1{
      position: absolute;
      margin-top: toRem(0);
      margin-left: toRem(0);
      z-index: 0;
      width: 100%;
    }
    .bg-main--R1-2{
      position: absolute;
      margin-top: toRem(387.6);
      margin-left: toRem(567);
      z-index: 1;
      @include media-breakpoint-down(xs-3){
        display: none;
      }
    }
    
    
    .bg-main--path-1a{
      position: absolute;
      top: toRem(699);
      z-index: 2;
      @include media-breakpoint-down(xs-3){
        top: toRem(499);
      }
    }
    .bg-main--path-1b{
      position: absolute;
      margin-top: toRem(752);
      z-index: 1;
      @include media-breakpoint-down(xs-3){
        margin-top: toRem(552);
      }
    }
    .bg-main--path-2a{
      top: toRem(139);
      margin-left: toRem(20);
      position: absolute;
      z-index: 1;
      width: toRem(249);
      @include media-breakpoint-down(xs-3){
        display: none;
      }
    }
    .bg-main--path-2b{
      margin-top: toRem(122);
      right: toRem(220);
      position: absolute;
      z-index: 2;
      width: toRem(159);
      @include media-breakpoint-down(xs-3){
        display: none;
      }
    }
  }

  .hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: toRem(135.76);
    
    @include media-breakpoint-down(xs-3){
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin-top: toRem(76);
    }

    .hero-left{
      color: $white !important;
      font-style: normal;
      width: 48.819%;
      
      
      @include media-breakpoint-down(xxl){
      left: toRem(-20);
      position: relative;
      }
      @include media-breakpoint-down(xl){
      left: toRem(-15);
      }
      @include media-breakpoint-down(lg-2){
      left: toRem(-10);
      }
      @include media-breakpoint-down(lg){
      left: toRem(-5);
      }
      @include media-breakpoint-down(md){
      left: 0rem;
      }
      @include media-breakpoint-down(xs-3){
        width: 100%;
      }

      .hero-left-text{
        
        .hero-left-text-tittle{
          width: 100%;
          font-style: normal;
          color: white;
        }
        .hero-left-text-subtittle{
          color: white;
          width:  88.194%;
          margin-top: toRem(8);
          font-weight: 10;
          @include media-breakpoint-down(xs-3){
            width: 100%;
          }
        }
      }

      .hero-left-btn{
        display: flex;
        margin-top: toRem(32);
        justify-content: flex-start;
        gap: 20px;
        
        @include media-breakpoint-down(xs-3) {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }
        a{
          @include media-breakpoint-down(xs-3) {
            width: 100% !important;
            display: flex;
            justify-content: center;
          }
          div{
            @include media-breakpoint-down(xs-3) {
              width: 100% !important;
            }
          }
        }
      }

      .hero-left-icon{
        margin-top: toRem(16);
        list-style-type: none;
        @media (max-width : 480px){
          margin-top: 0rem;
          margin-bottom: toRem(40);
        }

        .hero-left-icon-pin{
          color: #E5E6EB;
        }
        .hero-left-icon-brand{
          margin-top: toRem(64);
          @media (max-width : 480px){
            margin-top: toRem(32);
          }
        }
      }
    }
    
    .hero-right{
      width: 47.986%;
      position: relative;
      
      @include media-breakpoint-down(xs-3){
        width: 100%;
      }
      img{
        @include media-breakpoint-down(xs-3){
          width: 100%;
        }
      }
      .bg-main--R1-2{
        position: absolute;
        z-index: -1;
        margin-left: toRem(-361);
        margin-top: toRem(-518.64);
        @include media-breakpoint-down(xs-3){
          display: none;
        }
      }
    }
  }
  .bg-main--R1-3{
    position: absolute;
    right: toRem(0);
    top: toRem(418.64);
    z-index: 2;
    @include media-breakpoint-down(xl){
      top: toRem(338.64);
    }
    @include media-breakpoint-down(lg-2){
      width: 46%;
    }
    @include media-breakpoint-down(xs-3){
      display: none;
    }
  }
}