.her{
  overflow-x: hidden;
  padding-top: toRem(178);
  overflow: hidden;
  
  @include media-breakpoint-down(md){
    padding-top: toRem(17);
    position: relative;
  }
  
  .bg-main{
    background: radial-gradient(circle, rgba(44,163,201,1) 0%, #63b7a3 12%, rgba(80,139,226,1) 100%);
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    height: toRem(942);
    width: 100%;
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    
    @include media-breakpoint-down(md){
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100%100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      height: 160%;
    }
  
  
  
    .bg-main--R1-1{
      position: absolute;
      margin-top: toRem(0);
      margin-left: toRem(0);
      z-index: 0;
      width: 100%;
    }
    .bg-main--R1-2{
      position: absolute;
      margin-top: toRem(387.6);
      margin-left: toRem(567);
      z-index: 1;
      @include media-breakpoint-down(md){
        display: none;
      }
    }
    
    
    .bg-main--path-1a{
      position: absolute;
      top: toRem(699);
      z-index: 2;
      display: block;
      @include media-breakpoint-down(xl){
        display: none;
      }
      @include media-breakpoint-down(md){
        display: block;
        position: absolute;
        top: toRem(499);
      }
    }
    .bg-main--path-1b{
      position: absolute;
      margin-top: toRem(752);
      z-index: 1;
      @include media-breakpoint-down(md){
        margin-top: toRem(552);
      }
    }
  }
  
  .hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: toRem(135.76);
    gap: 6rem;
    
    @include media-breakpoint-down(xxl){
      gap: 5rem;
    }
    @include media-breakpoint-down(xl){
      gap: 4rem;
    }
    
    @include media-breakpoint-down(lg-2){
      gap: 3rem;
      padding: 0 2rem; 
    }
    @include media-breakpoint-down(lg){
      gap: 2rem;
      padding: 0 2rem; 
    }
    
    @include media-breakpoint-down(md){
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin-top: toRem(76);
      margin-bottom: toRem(19);
      align-items: center;
    }

    .hero-left{
      position: relative;
      color: $white !important;
      font-style: normal;
      max-width: toRem(495);
      
      
      @include media-breakpoint-down(xxl){
      max-width: toRem(495);
      left: toRem(20);
      position: relative;
    }
    @include media-breakpoint-down(xl){
      left: toRem(15);
      max-width: toRem(480);
    }
    @include media-breakpoint-down(lg-2){
      left: toRem(10);
      max-width: toRem(465);
    }
    @include media-breakpoint-down(lg){
      left: toRem(5);
      max-width: toRem(450);
      }
      @include media-breakpoint-down(md){
      left: 0rem;
      width: 100%;
      }
      .bg-main--path-2a{
        top: -2rem;
        left: -6rem;
        position: absolute;
        z-index: 1;
        width: toRem(249);
        @include media-breakpoint-down(md){
          display: none;
        }
      }
      .hero-left-text{
        
        .hero-left-text-tittle{
          width: 100%;
          font-style: normal;
          color: white;
        }
        .hero-left-text-subtittle{
          color: white;
          width:  88.194%;
          margin-top: toRem(8);
          font-weight: 10;
          @include media-breakpoint-down(md){
            width: 100%;
          }
        }
      }

      .hero-left-btn{
        display: flex;
        margin-top: toRem(32);
        justify-content: flex-start;
        gap: 20px;
        
        @include media-breakpoint-down(md) {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }
        a{
          @include media-breakpoint-down(md) {
            width: 100% !important;
            display: flex;
            justify-content: center;
          }
          span{
            @include media-breakpoint-down(md) {
              width: 100% !important;
            }
          }
        }
      }
      
      .hero-left-icon{
        margin-top: toRem(16);
        list-style-type: none;
        @include media-breakpoint-down(md) {
          margin-top: 0rem;
          margin-bottom: toRem(40);
        }
        
        .hero-left-icon-pin{
          color: #E5E6EB;
        }
        .hero-left-icon-brand{
          margin-top: toRem(64);
          @include media-breakpoint-down(md) {
            margin-top: toRem(32);
          }
          @include media-breakpoint-down(xs-2) {
            width: 100%;
          }
        }
      }
    }
    
    .hero-right{
      flex: 1;
      position: relative;
      @include media-breakpoint-down(md){
        width: 100%;
      }

      .bg-main--path-2b{
        top: -2rem;
        left: 25rem;
        position: absolute;
        z-index: 2;
        width: toRem(159);
        @include media-breakpoint-down(md){
          display: none;
        }
      }

      .hero-right-video-content{
        position: absolute;
        left: 1.125rem;
        top: 3rem;
        video{
          border-radius: 0.91501875rem;
          width: toRem(881.17);
          max-height: toRem(550.73);
          height: 100%;
          object-fit: contain;
          overflow-clip-margin: content-box;
          overflow: clip;
        }

        @include media-breakpoint-down(md){
          display: none;
        }
      }

      .hero-right-video{
        position: absolute;
        @include media-breakpoint-down(md){
          position: relative;
          width: 100%;
          left: 0;
          display: none;
        }

      }

      .hero-right-image{
        display: none;
        @include media-breakpoint-down(md){
          display: block;
          position: relative;
          width: 100%;
        }
      }
      .bg-main--R1-2{
        position: absolute;
        z-index: -1;
        left: toRem(-220);
        bottom: toRem(-80);
        @include media-breakpoint-down(md){
          display: none;
        }
      }
    }
  }
  .bg-main--R1-3{
    position: absolute;
    right: toRem(0);
    top: toRem(418.64);
    z-index: 2;
    @include media-breakpoint-down(xl){
      top: toRem(338.64);
    }
    @include media-breakpoint-down(lg-2){
      width: 46%;
    }
    @include media-breakpoint-down(md){
      display: none;
    }
  }
}