.pricing{
  padding-top: toRem(96);
  padding-bottom: toRem(96);
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;

  .b-btn{
    width: 100% !important;
  }
  .w-btn{
    width: 100% !important;
  }

  .pricing__header{
    width: toRem(674);
    font-style: normal;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0B0A0F;
    margin-bottom: toRem(60);
    
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }

  .pricing__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: toRem(30);

    @include media-breakpoint-down(xl){
      margin: 0rem 2rem;
    }
    @include media-breakpoint-down(lg){
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      justify-items: center;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
      padding: 0rem toRem(20);
    }
    @include media-breakpoint-down(xs-3){
      padding: 0rem toRem(18);
    }
    @include media-breakpoint-down(xs-2){
      padding: 0rem toRem(15);
    }
    @include media-breakpoint-down(xs-1){
      padding: 0rem toRem(12);
    }



    .content-card{
      width: toRem(367);
      padding: toRem(48) toRem(32) toRem(32) toRem(32);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      
      @include media-breakpoint-down(xxl){
        width: toRem(360);
      }
      @include media-breakpoint-down(xl){
        width: toRem(300);
      }
      @include media-breakpoint-down(lg-2){
        width: toRem(290);
      }
      @include media-breakpoint-down(lg){
        width: toRem(680);
      }
      @include media-breakpoint-down(md){
        width: toRem(500);
      }
      @include media-breakpoint-down(sm){
        width: 100%;
      }
      
      .pricing__content{
        list-style-type: none;
  
        .pricing__bid{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          padding-bottom: toRem(28);
  
          .pricing__tittle{
            margin-bottom: toRem(16);
            font-style: normal;
            font-weight: 700;
            font-size: toRem(28);
            line-height: toRem(42);
          }
          .pricing__price{
            font-style: normal;
            font-weight: 800;
            font-size: toRem(48);
            line-height: toRem(64);
            letter-spacing: -0.01em;
            span{
              padding-left: toRem(8);
              font-style: normal;
              font-weight: 400;
              font-size: toRem(18);
              line-height: toRem(28);
            }
          }
        }
        
        .pricing__list{
          padding-left: toRem(6);
          margin-top: toRem(22);
          margin-bottom: toRem(24);
          li{
            padding: toRem(8) toRem(0);
            display: flex;
          }
          img{
            margin-right: toRem(22);
          }
        }
        
        .pricing-w-btn{
          width: 100%;
        }
      }
    }

    .white__card{
      border: 1px solid #E5E6EB;
      
      .pricing-content{
  
        .pricing__bid{
          border-bottom: 1px solid #E5E6EB;
  
          .pricing__tittle{
            color: #0B0A0F;
          }
          .pricing__price{
            color: #0B0A0F;
            span{
              color: #9EA3AE;
            }
          }
        }
      }
    }
    
    .blue__card{
      background-color: #00326D;
      color: $white;

      .recom{
        position: absolute;
        top: toRem(16);
        right: toRem(16);
        font-weight: 400;
        font-size: toRem(14);
        line-height: toRem(20);
        color: $white;
        padding: toRem(6) toRem(10);
        background: rgba(255, 255, 255, 0.2);
        border-radius: toRem(5);
      }

      .pricing__content{
  
        .pricing__bid{
          border-bottom: 1px solid #F4F4F6;
  
          .pricing__tittle{
            color: $white;
          }
          .pricing__price{
            color: $white;
            span{
              color: #F4F4F6;
            }
          }
        }
      }
    }
  }
}