.top{
  .top-tier{
    margin-top: toRem(79);
    display: flex;
    justify-content: space-between;
    padding-bottom: toRem(81);
    
    @media(max-width:480px){
      margin-top: toRem(55) !important;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .top-tier-left{
      width: toRem(388);
      
      @media(max-width:1200px){
        width: toRem(356);
      }
      @media(max-width:480px){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
      }
  
      .top-tier-left-user{
        width: toRem(128);
        margin-bottom: toRem(30);
      }
    }
    .top-tier-right{
      flex: 1;
      padding-left: toRem(44);
      margin-top: toRem(15);

      
      @media(max-width:480px){
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      
      .top-tier-right-text{
        color: #394150;
        padding-bottom: toRem(32);

        @media(max-width:480px){
          text-align: center;
        }
      }
      
      .top-tier-right-brand{
        border-top: 1px solid #E5E6EB;
        display: flex;
        justify-content: space-between;
        padding-top: toRem(32);
        z-index: 10;
        position: relative;
        
        @media(max-width:1200px){
          row-gap: 20px;
          flex-wrap: wrap;
        }
        @media(max-width:480px){
          display: none;
        }
      }
    }
  }
  .top-brand{
    border-top: 1px solid #E5E6EB;
    display: none;
    justify-content: space-between;
    padding-top: toRem(32);
    margin-bottom: toRem(81);

    @media(max-width:480px){
      display: flex;
    }

    .a1{
      flex: 1;
      display: flex;
      justify-content: space-around;
      z-index: 10;
    }
    .a2{
      flex: 1;
      display: flex;
      justify-content: space-around;
      z-index: 10;
    }
    
    @media(max-width:480px){
      flex-direction: column;
      gap: toRem(56);
      .a1{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .a2{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}