.top{
  .top-tier{
    margin-top: toRem(79);
    display: flex;
    justify-content: space-between;
    padding-bottom: toRem(81);
    
    @include media-breakpoint-down(md){
      margin-top: toRem(55) !important;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .top-tier-left{
      width: toRem(388);
      
      @include media-breakpoint-down(xl){
        width: toRem(356);
      }
      @include media-breakpoint-down(md){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
      }
  
      .top-tier-left-text{
        @include media-breakpoint-down(xs-3){
          padding: 0rem toRem(20);
        }
      }
      .top-tier-left-user{
        width: toRem(128);
        margin-bottom: toRem(30);
      }
    }
    .top-tier-right{
      flex: 1;
      padding-left: toRem(44);
      margin-top: toRem(15);

      
      @include media-breakpoint-down(md){
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
      }
      
      .top-tier-right-text{
        color: #394150;
        padding-bottom: toRem(32);

        @include media-breakpoint-down(md){
          text-align: center;
        }
      }
      
      .top-tier-right-brand{
        border-top: 1px solid #E5E6EB;
        display: flex;
        display: flex;
        justify-content: space-between;
        padding-top: toRem(32);
        z-index: 10;
        position: relative;
        
        @include media-breakpoint-down(xl){
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          row-gap: 20px;
        }
      }
    }
  }
}