.top{
  overflow-x: hidden;
  .top--container{
    margin-top: toRem(79);
    display: flex;
    justify-content: space-between;
    padding-bottom: toRem(81);
    
    @include media-breakpoint-down(md){
      margin-top: toRem(55) !important;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .top-left{
      width: toRem(388);
      display: grid;
      gap: toRem(30);
      

      @include media-breakpoint-down(xl){
        width: toRem(356);
      }
      @include media-breakpoint-down(md){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
      }
  
      .top-desc{
        @include bodylarge-bold;
        @include media-breakpoint-down(md){
          @include bodynormal-bold;
        }
        @include media-breakpoint-down(xs-3){
          padding: 0rem toRem(20);
        }
      }
      .top-trusted{
        display: flex;
        align-items: center;
        position: relative;
        @include media-breakpoint-up(md){
          left: toRem(-20);
        }
        .trusted{
          position: relative;
          border: toRem(2) solid $white;
          border-radius: 50%;
          width: toRem(56);
          height: toRem(56);
        }

        .trusted--1{
          right: toRem(-20);
          z-index: 1;
        }
        .trusted--2{
          z-index: 2;
        }
        .trusted--3{
          left: toRem(-20);
          z-index: 3;
        }
      }
    }
    .top-right{
      flex: 1;
      padding-left: toRem(44);
      margin-top: toRem(15);
      
      @include media-breakpoint-down(xl){
        padding-left: 0;
      }
      
      @include media-breakpoint-down(md){
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
      }
      
      .top-tittle{
        color: #394150;
        padding-bottom: toRem(32);

        @include bodylarge-bold;
        @include media-breakpoint-down(md){
          @include bodynormal-bold;
        }

        @include media-breakpoint-down(md){
          text-align: center;
        }
      }
      
      .top-brand{
        border-top: 1px solid #E5E6EB;
        display: flex;
        display: flex;
        justify-content: space-between;
        padding-top: toRem(32);
        z-index: 10;
        position: relative;
        
        @include media-breakpoint-down(xl){
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          row-gap: 20px;
        }
      }
    }
  }
}