<section class="company-database-dashboard">
  <div class="content-header company-database-dashboard__header">
    <h3 class="h3--be content-header__title">Company Database</h3>
    <a href="company-database.html" class="text-dashboard__body--regular-semibold company-database__head-link">
      <span class="company-database__head-link--span">View All Company</span>
    </a>
  </div>

  <div class="content-container">
    <div class="content-table">
      <table class="content-table__container">
        <tbody>
          <tr class="content-table__header">
            <th class="content-table__head text-dashboard__body--regular-semibold">Company Name</th>
            <th class="content-table__head text-dashboard__body--regular-semibold">Industry</th>
            <th class="content-table__head text-dashboard__body--regular-semibold">Website Url</th>
            <th class="content-table__head text-dashboard__body--regular-semibold">Linkedin Company Page</th>
            <th class="content-table__head text-dashboard__body--regular-semibold"></th>
            <th class="content-table__head text-dashboard__body--regular-semibold">About Us</th>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__item content-table__item--company">
              <div class="content-table__item--company-wrapper" bis_skin_checked="1">
                <img src="../assets/media/images/dashboard/company-1.png" alt="" class="content-table__item--company-image">
                <div class="content-table__item--company-text" bis_skin_checked="1">
                  <p class="content-table__item--company-text-name text-dashboard__body--regular-medium">
                    Global Market Information Ltd
                  </p>
                  <p class="content-table__item--company-text-desc text-dashboard__body--small">
                    Global Market information is a powerhouse for...
                  </p>
                </div>
              </div>
            </td>
            <td class="content-table__item content-table__item--industry">
              <p class="content-table__item--industry-text text-dashboard__body--regular-medium">
                Market Research
              </p>
            </td>
            <td class="content-table__item content-table__item--website">
              <a href="#" class="content-table__item--website-url text-dashboard__body--regular-medium">
                globalmarketinformation.com
              </a>
            </td>
            <td class="content-table__item">
              <a href="#" class="text-dashboard__body--regular-medium">
                https://www.linkedin.co...
              </a>
            </td>
            <td class="content-table__item content-table__item--button">
              <a href="about-company.html" class="content-table__item--button-detail btn-be-dashboard btn-be-dashboard--small">View Detail</a>
            </td>
            <td class="content-table__item">
              <p class="text-dashboard__body--regular-medium">
                -
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>