<section class="latest-reports-card">
  <div class="latest-reports__head">
    <h3 class="h3--be latest-reports__head-title">Latest Reports</h3>
    <a href="#" class="text-dashboard__body--regular-semibold latest-reports__head-link">
      <span class="latest-reports__head-link--span">View All Reports</span>
    </a>
  </div>

  <div class="latest-reports__carousel">
    
    <div class="latest-reports__items">

      <div class="latest-reports__items-left" >
        <img src="../assets/media/images/dashboard/latest-reports-1.png" alt="" class="latest-reports__items-img">
        <a href="#" class="latest-reports__items-bookmark bookmark-link js-stars-check"></a>
      </div>

      <div class="latest-reports__items-center">
        <span class="text-dashboard__body--small-medium latest-repost__items-type latest-repost__items-type--orange">Reports Database</span>
        <p class="text-dashboard__body--regular-semibold latest-repost__items-name">Data and Analytics Riding the Digitalisation Wave.pdf</p>
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-link">
          <span class="latest-repost__items-link--span">View Report</span>
          <img src="../assets/media/images/dashboard/arrow-right.svg" alt="" class="latest-repost__items-link--icon">
        </a>
      </div>
      
      <div class="latest-reports__items-right">
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-download">
          <img src="../assets/media/images/dashboard/download.svg" alt="" class="latest-repost__items-download--icon">
        </a>
      </div>

    </div>

    <div class="latest-reports__items">

      <div class="latest-reports__items-left" >
        <img src="../assets/media/images/dashboard/latest-reports-2.png" alt="" class="latest-reports__items-img">
        <a href="#" class="latest-reports__items-bookmark bookmark-link js-stars-check"></a>
      </div>

      <div class="latest-reports__items-center">
        <span class="text-dashboard__body--small-medium latest-repost__items-type latest-repost__items-type--green">Insight</span>
        <p class="text-dashboard__body--regular-semibold latest-repost__items-name">Digital Culture The Driving Force of Digital Transformation.pdf</p>
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-link">
          <span class="latest-repost__items-link--span">View Report</span>
          <img src="../assets/media/images/dashboard/arrow-right.svg" alt="" class="latest-repost__items-link--icon">
        </a>
      </div>
      
      <div class="latest-reports__items-right">
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-download">
          <img src="../assets/media/images/dashboard/download.svg" alt="" class="latest-repost__items-download--icon">
        </a>
      </div>

    </div>

    <div class="latest-reports__items">

      <div class="latest-reports__items-left" >
        <img src="../assets/media/images/dashboard/latest-reports-3.png" alt="" class="latest-reports__items-img">
        <a href="#" class="latest-reports__items-bookmark bookmark-link js-stars-check"></a>
      </div>

      <div class="latest-reports__items-center">
        <span class="text-dashboard__body--small-medium latest-repost__items-type latest-repost__items-type--violet">Technology</span>
        <p class="text-dashboard__body--regular-semibold latest-repost__items-name">Technology Innovation and Systemic Risk 2021.pdf</p>
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-link">
          <span class="latest-repost__items-link--span">View Report</span>
          <img src="../assets/media/images/dashboard/arrow-right.svg" alt="" class="latest-repost__items-link--icon">
        </a>
      </div>
      
      <div class="latest-reports__items-right">
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-download">
          <img src="../assets/media/images/dashboard/download.svg" alt="" class="latest-repost__items-download--icon">
        </a>
      </div>

    </div>

    <div class="latest-reports__items">

      <div class="latest-reports__items-left" >
        <img src="../assets/media/images/dashboard/latest-reports-1.png" alt="" class="latest-reports__items-img">
        <a href="#" class="latest-reports__items-bookmark bookmark-link js-stars-check"></a>
      </div>

      <div class="latest-reports__items-center">
        <span class="text-dashboard__body--small-medium latest-repost__items-type latest-repost__items-type--orange">Reports Database</span>
        <p class="text-dashboard__body--regular-semibold latest-repost__items-name">Data and Analytics Riding the Digitalisation Wave.pdf</p>
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-link">
          <span class="latest-repost__items-link--span">View Report</span>
          <img src="../assets/media/images/dashboard/arrow-right.svg" alt="" class="latest-repost__items-link--icon">
        </a>
      </div>
      
      <div class="latest-reports__items-right">
        <a href="#" class="text-dashboard__body--regular-semibold latest-repost__items-download">
          <img src="../assets/media/images/dashboard/download.svg" alt="" class="latest-repost__items-download--icon">
        </a>
      </div>

    </div>

  </div>

  <div class="slick_pagination"  id="this"></div>

</section>