.main-dashboard.close-main-dashboard{
  padding-left: toRem(120) !important;
  transition: all ease-in-out .4s;
}
.main-dashboard{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: toRem(272);
  transition: all ease-in-out .4s;
  background: #fff;
  display: flex;
  justify-content: center;
}